In [1]:
x=7*(3+8-4)/6
print(x)

8.166666666666666

In [2]:
5 and 6

6

In [3]:
days_of_week=['sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
days_of_week

['sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [4]:
len(days_of_week)

7

In [5]:
 print(days_of_week[0])

sunday

In [6]:
print(days_of_week[4])

Thursday

In [7]:
my_list=[1,3,0,'true','so beautiful']
print(my_list)

[1, 3, 0, 'true', 'so beautiful']

In [8]:
age = 25
if age > 18:
    print("you can vote")
elif age < 18:
    print("you can't vote")
elif age == 18:
    print("get citizenship to vote")
else:
   print("invalid age")

you can vote

In [9]:
age = 25
if age > 18:
    print("You can vote")
elif age < 18:
    print("You can't vote")
elif age == 18:
    print("Get citizenship to vote")
else:
    print("Invalid age")

You can vote

In [10]:
X = 35
if X > 10 and X > 30:
    print("X is greater than 30.")
else:
    print("X is not greater than 30.")

X is greater than 30.

loop example

In [11]:
s="geeks"
for i in s:
    print(i)

g
e
e
k
s

python Dictionary eg

In [12]:
city_pop={
    "chicago":3.5,
    "New york":7,
    "LA":6
}
city_pop

{'chicago': 3.5, 'New york': 7, 'LA': 6}

In [13]:
city_pop={chicago}
    "chicago":3.5,
    "New york":7,
    "LA":6
}
city_pop

IndentationError: unexpected indent (1165567199.py, line 2)

In [ ]:
city_pop.keys()

In [ ]:
city_pop.values()

In [ ]:
"chicago"in city_pop

In [ ]:
"San Franscisco"in city_pop

In [ ]:
city_pop["LA"]=20
city_pop

In [ ]:
city_pop.update({"chicago":30})
city_pop

add item dictionary eg

city_pop["kathmandu"]=2.5
city_pop

Remove item in dictionary

In [ ]:
city_pop.pop("LA")
city_pop

object-oriented concept

everything in python is an object.
Class and Object:
Class:class is like blue print for building object
Object:The instance of class called object

In [ ]:
class student:
    school="school of Data science"

In [ ]:
student1=student()
student2=student()
print(student1.school)
print(student2.school)

constructor in python:constructor is same as function

def_init_(self,name,level):
self.name=name
self.level=level these are the stntax of constructor

In [ ]:
class Student:
    def __init__(self, name, level):
        self.name = name
        self.level = level


student1 = Student("kattle", 1)
student2 = Student("dipak", 3)

print(student1.name)  
print(student1.level) 
print(student2.name)  
print(student2.level)

In [ ]:
pip install numpy

In [ ]:
pip install pandas

In [ ]:
pip instal matplotlib

#Numpy library

In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (1.26.4)

In [2]:
import numpy
numpy.version

In [3]:
import numpy as np
numpy.version

In [4]:
my_arr=np.array([[2,4,8,16]],np.int32)
print(my_arr)
print(type(my_arr))
my_arr[0,1]

[[ 2  4  8 16]]
<class 'numpy.ndarray'>

4

In [5]:
my_arr.shape

(1, 4)

In [6]:
my_arr.dtype

dtype('int32')

##Arrays creation :Conversion from pther python structure

In [7]:
listarray=np.array([[1,2,3],[5,8,5],[0,3,1]])
print(listarray)

[[1 2 3]
 [5 8 5]
 [0 3 1]]

In [8]:
listarray.dtype

dtype('int32')

In [9]:
listarray.shape

(3, 3)

In [10]:
listarray.size

9

In [11]:
zeros=np.zeros([2,3])
print(zeros)

[[0. 0. 0.]
 [0. 0. 0.]]

In [12]:
rng=np.arange(20)
print(rng)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [13]:
lspace=np.linspace(1,5,12)
print(lspace)

[1.         1.36363636 1.72727273 2.09090909 2.45454545 2.81818182
 3.18181818 3.54545455 3.90909091 4.27272727 4.63636364 5.        ]

In [14]:
ide=np.identity(40)
print(ide)

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

In [15]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas

In [17]:
import pandas as pd
data = pd.Series([1, 2, 3, 4, 5])
print(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
import pandas as pd
data = pd.Series([0.25,0.5,0.75,1.0])
print(data)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [19]:
type(data)

pandas.core.series.Series

In [20]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [21]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [22]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [23]:
import pandas as pd
data=pd.Series([0.25,0.50,0.75,1.0],index=['a','b','c','d'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [24]:
data['c']

0.75

In [25]:
population_dict ={'California':38,
                  'Texas':26,
                  'New York':20,
                  'Florida':19,
                  'Illinois':13
                 }
population=pd.Series(population_dict)
print(population)

California    38
Texas         26
New York      20
Florida       19
Illinois      13
dtype: int64

In [ ]:
pd.Series ({2:'a',5:'b',3:'c'},index=[3,2])

In [26]:
area_dict={'California':423,
           'Texas':695,
           'Newyork':141,
           'Florida':170,
           'Illinois':150
          }
area=pd.Series(area_dict)
print(area)

California    423
Texas         695
Newyork       141
Florida       170
Illinois      150
dtype: int64

NaN Concept in Pandas

In [27]:
pd.DataFrame([{'a':2,'b':5},{'b':7,'c':1}])

     a  b    c
0  2.0  5  NaN
1  NaN  7  1.0

In [28]:
'd' in data

True

In [29]:
data.keys

<bound method Series.keys of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [30]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [34]:
data.loc[1:3]

TypeError: cannot do slice indexing on Index with these indexers [1] of type int

In [33]:
data.keys

<bound method Series.keys of a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64>

In [35]:
'd' in data

True

In [36]:
states=pd.DataFrame({'population':population,
                     'area':area})
print(states)

            population   area
California        38.0  423.0
Florida           19.0  170.0
Illinois          13.0  150.0
New York          20.0    NaN
Newyork            NaN  141.0
Texas             26.0  695.0

In [39]:
population['California']

38

In [40]:
type(states)

pandas.core.frame.DataFrame

In [41]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Newyork', 'Texas'], dtype='object')

In [43]:
states.columns

Index(['population', 'area'], dtype='object')

In [46]:
states['area']

California    423.0
Florida       170.0
Illinois      150.0
New York        NaN
Newyork       141.0
Texas         695.0
Name: area, dtype: float64

In [47]:
states['population']

California    38.0
Florida       19.0
Illinois      13.0
New York      20.0
Newyork        NaN
Texas         26.0
Name: population, dtype: float64

In [48]:
population_dict={'Nepal':20000000,
                 'China':250000000,
                 'India':300000000}
population=pd.Series(population_dict)
print(population)

Nepal     20000000
China    250000000
India    300000000
dtype: int64

In [16]:
area_dict={'Nepal':12500,
           'China':35500,
           'India':550000}
area=pd.Series(area_dict)
print(area)

Nepal     12500
China     35500
India    550000
dtype: int64

In [7]:
import pandas as pd
country=pd.DataFrame({'population':population,
                      'area':area})
print(country)

NameError: name 'population' is not defined

In [2]:
states['density']=states['population']/states['area']
print(states)

NameError: name 'states' is not defined

In [3]:
import pandas as pd
data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
# Calculate density as population divided by area
states['density'] = states['population'] / states['area']

# Print the updated DataFrame
print(states)

        state  population    area     density
0  California    39538223  423967   93.257784
1       Texas    29145505  695662   41.896072
2     Florida    21538187  170312  126.463121
3    New York    20201249  141297  142.970120

In [3]:
import pandas as pd

# Sample DataFrame
states = pd.DataFrame({
    'state': ['California', 'Texas', 'Florida', 'New York'],
    'population': [39538223, 29145505, 21538187, 20201249],
    'area': [423967, 695662, 170312, 141297]  # in square kilometers
})

print(states)

        state  population    area
0  California    39538223  423967
1       Texas    29145505  695662
2     Florida    21538187  170312
3    New York    20201249  141297

In [4]:
states['density'] = states['population'] / states['area']

# Print the updated DataFrame
print(states)

        state  population    area     density
0  California    39538223  423967   93.257784
1       Texas    29145505  695662   41.896072
2     Florida    21538187  170312  126.463121
3    New York    20201249  141297  142.970120

In [12]:
import pandas as pd
city=pd.DataFrame({
    'city': ['Lahan','Brt','Ktm'],
    'population':[110000,510000,2000000],
    'area':[536,1000,30000]
})
print(city)

    city  population   area
0  Lahan      110000    536
1    Brt      510000   1000
2    Ktm     2000000  30000

In [9]:
city = pd.DataFrame({
    'city': ['Lahan', 'Brt', 'Ktm'],  # Added missing quotation mark
    'population': [110000, 510000, 2000000],
    'area': [536, 1000, 30000]
})
print(city)

    city  population   area
0  Lahan      110000    536
1    Brt      510000   1000
2    Ktm     2000000  30000

In [13]:
city['density']=city['population']/city['area']
print(city)

    city  population   area     density
0  Lahan      110000    536  205.223881
1    Brt      510000   1000  510.000000
2    Ktm     2000000  30000   66.666667

In [3]:
import pandas as pd
data=pd.DataFrame({
    'x':[78,85,96,80,86],
    'y':[84,94,89,83,80],
    'z':[86,97,96,72,83]
    })
print(data)

    x   y   z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  80  83

In [11]:
import pandas as pd
import numpy as np

data=pd.DataFrame({
    'name':['virat','dhoni','rohit','pant','rahul'],
    'score':[101,85,78,np.nan,56],
    'attempt':[1,1,2,2,1],
    'qualify':['yes','no','no','yes','yes'],
    'labels':['a','b','c','d','e']
})
print(data)

    name  score  attempt qualify labels
0  virat  101.0        1     yes      a
1  dhoni   85.0        1      no      b
2  rohit   78.0        2      no      c
3   pant    NaN        2     yes      d
4  rahul   56.0        1     yes      e

Assignment of Numpy

In [4]:
#Write Numpy program to create an array with the values 2,4,5,-2 and print the size of the memory occupied by the array?


import numpy as np
arr=np.array([2,4,5,-2])
print('array:',arr)
print('size of the memory array:',arr.nbytes,'bytes')

array: [ 2  4  5 -2]
size of the memory array: 16 bytes

In [2]:
import numpy as np
arr=np.array([2,4,5,-2])
print('array:',arr)
print('size of the memory array:',arr.nbytes,'bytes')

array: [ 2  4  5 -2]
size of the memory array: 16 bytes

In [9]:
#create a numpy array with 20 elements each of 0,1,2,3,4,5

import numpy as np
data=np.repeat([0,1,2,3,4,5],20)
print(data)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5]

In [11]:
#same problem in different method like

import numpy as np
data=[0,1,2,3,4,5]
repeat=20
data=np.tile(data,repeat)
print(data)

[0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0
 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1
 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2 3 4 5 0 1 2
 3 4 5 0 1 2 3 4 5]

In [15]:
#create numpy array of integers (3*4)arrays using arange() and reshap() in one line code

import numpy as np
arr=np.arange(12).reshape(3,4)
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

In [1]:
# create a numpy program to create an array of 1000 random numbers from a normal distribution with mean of 10 and standard deviation of1.5?

import numpy as np
mean=10
std_dev=1.5
size=1000
random_numbers=np.random.normal(loc=mean,scale=std_dev,size=size)
print(random_numbers)

[11.35348813  9.79808662  9.44529888  8.75629761  9.72956252 10.11253461
  9.09507053 10.4611662   8.97387708 10.6329098   7.18408981  9.75504114
  9.25787813 10.23707405  8.02429886 10.72000714 12.1340703   9.01782371
 10.20454724  8.65408033 14.23993953 13.60869996  9.98493664  9.60823933
 10.71519011 11.48820615  9.93119799  9.63135808  9.07449401  9.65072209
 12.13188993  7.60805675 12.02714507  9.1034313  10.67024308 12.55527302
 10.54745376 10.6241894   8.05240769 12.51114581  8.13057182  9.64192847
 10.42370671  9.47953903 11.47698251  8.19250885  8.29550065 11.33360262
 10.66903853  8.12048728  9.78202685 11.51767368  9.71390302  8.80773117
 10.51904273  9.74978027  9.89923206  9.53526559 10.86627376  8.48610835
 10.25881326 12.50213927  7.80569633  8.9490915   9.89401976 11.66976473
 10.25392952  9.67733233 11.16471458  7.80116474  9.06065169 11.09353202
  8.70944957  9.18244215 12.47874407 12.84742581 12.10480419  7.97217928
 12.00814889  6.97507013  9.97785275 11.09199409  5.28246266 10.46935664
 10.62688086  6.20462559 11.82691197 11.24974779  9.24271292 10.93030887
  9.30255074 11.81974664  7.16931384 10.79797753  8.64545984  7.15882467
  9.56955748  8.17210188 10.31825029  8.26012298 12.62579522  8.95617242
  9.93602824 10.70820729 10.59093348  7.08385693  9.72863167 11.26303989
  8.45395403 12.06994372 10.69742342  9.91801317  9.39109481  8.64440446
 12.03091596 10.29935441 10.98047638  8.60311549 11.67862219 11.57233966
  6.88967366 10.39117496  9.50800991 10.54074201 11.51102478  7.85228102
 12.21715985 11.12914792 11.48507113 11.23900219  9.29130933 10.969661
 10.46671385  7.98677433 12.29195751 11.3069435  11.75394988  8.25751938
 10.17368085 11.02436499 10.03958892 10.76449519 10.40199296 12.92567191
 12.28645354 11.01903193 11.06235912 12.40929704 11.22598881 11.12872436
  7.966955   13.15357551  8.39013479 11.18560573 11.95735827 10.55250982
  8.78132254  9.76271131  8.6397117  10.91015277 11.99365793 10.07734537
  9.15418135 10.46316664  9.29728034 11.51913621 10.57635871 10.49382639
 13.37433234  6.60508831  8.18672819 10.19612042 11.10548784 11.04194988
  9.21969716 13.54696568 10.81294012  9.51162212 11.31621918 10.42817175
 10.48794919 10.61850421 11.17576241  9.7049825   7.6817541  11.09588974
  8.90811834  8.05853158 12.44577499 11.04311925  7.67061806 11.19136041
 10.20570081 10.23093513  8.53898408 10.69557271  8.92326695 12.8388554
 10.60282927 10.95077108  8.23363321  9.67464243 10.36155771 10.28228424
 11.63213133  8.9277257  11.24276568  9.67597443  7.49621687  6.90598667
 10.91393891  9.95767053 10.46490377  8.6229753   9.58344539 10.50779148
 11.35254638  9.94658489  7.49496668  9.72477077 13.33433127  8.86182864
  8.75112809  7.80698583 11.97560765 10.37014738  7.52990668  7.03500042
  8.07639287 10.62187225 10.00626739  6.79928991  9.60590547  8.63580161
 12.50003194  7.96529884  9.06592592 10.97612037 10.32464853 12.6346375
 10.66291244 11.26327016 10.68089806 11.9752698   9.49996897 11.22871257
 12.58976895 10.34841263  7.69030829 10.94508386 12.80946792  9.45654417
  8.03078845  7.85570486 10.89383454 10.19279277 13.76708211 10.76174767
 10.76763316  9.37860458  7.17620277  9.78006251  7.93737245 10.50083839
  9.53209854  9.22460811  9.88266262 11.05329032  8.47807218  8.53401081
 10.51197179  8.00498724 10.37439972 12.27786352  7.42790289 11.61374097
  9.06202521  7.68750859  8.45249691  7.55286265  7.82782731  9.76065069
 11.68022881  9.35974574 11.62954008  9.88938729 10.97963321  8.56967709
  9.78018049 11.24783217 10.46567203 10.35632642  9.70353046  9.30908116
  8.48779434 11.11866109 10.55897213 12.70773567 10.39336953  9.55095754
 12.57500969 11.88180702  8.90467726 12.24078995  7.91522918  7.00190602
 11.68416264  8.89555313 10.51946208 11.10703808  8.48122552  8.93063724
 10.38951769 10.69814204 10.17448785  9.76940514 10.13969628  9.64065548
  8.51086356  9.31893229 10.34695934 11.49647897  9.34314239  9.85963697
 10.72143554  8.24063671  9.34598065  9.62908768 14.13858566  9.39103937
  9.96105563 11.699961   11.10603252 10.16510288 10.6373821  11.6413454
  9.71971511 10.51563562  9.76929838  8.97286327  8.01928893  8.88424915
 11.14368372 11.06196104 10.26964578  7.9360556   8.6924158   8.73120258
  8.82457707  9.94907498  8.0468168  10.19174246  9.69030954 10.23441797
 10.20114063 10.27990066  8.94941458 11.4511793   7.91016327  8.11819479
 11.52476911  9.81786202 10.68605973  7.84028519 10.33802598  9.95676917
  9.72619383  9.27392321  9.1229015   9.97909194  8.65427105  9.81863946
 10.54150987  7.81609954 11.34010894  9.12591857 10.25940915  9.44143104
 12.49586394  8.52042938  8.29533045  8.91482772 10.37572482 10.52844317
 10.59144049 10.16187502 11.0743703  10.44313398 11.65291804  9.02996988
 10.60973412  8.86232812  9.35173709  6.33500539 10.29354891 10.7504601
  8.43643115  9.73315097  6.6774303  10.08900758  8.96629217 11.50595703
 12.12510786  7.24981436 11.11720314  8.86386502 10.04405532  9.80188586
 11.03191278  9.44257964  7.7432252   8.69160506 12.18220351 12.48108224
 12.14130372 11.83928658 12.05451841 10.12505534 10.34022469 12.43641501
 10.85515614 11.75445719  9.83068531  9.54446878  8.65052485  9.57136928
 12.82505355 10.99436839  8.90981499 11.05917512  9.9856722   9.33956068
 12.9965034  11.4038309   9.49066374  8.88059553  8.59405997 10.15272717
 12.70143236 11.43253185 10.69961704 10.42898206 11.11928657 11.28827409
  9.42711306  6.3535332  10.53186467 10.61412699  8.65999063 10.35487078
 11.67803171 12.07322765  9.90795102 11.56580965  9.31167794  7.7934851
  8.71443179 12.1678426   8.27588211  8.28432522 10.71244577 10.64530483
 11.34230693  8.37288135 10.61918148  8.67934649  9.21321027 10.70519537
  9.59176621  8.65542842  8.9463275   9.8291129  13.17284165  9.43369984
  9.3051023   7.78407653  9.71985348  7.22548582 10.03172147  8.94763827
  9.30067374 10.87751643  9.8485934   7.54824312 10.7097671  12.73899534
  8.0831737   7.1515862  10.11168158  8.5690077   9.37125289  8.83503588
 10.3987166  10.31891607  7.27900099 10.27405255  8.97497748 10.52593385
 10.86229058  8.59567004  8.16356675 10.86208453  9.45887987 11.71134094
  8.90504537 10.5461276  11.41025645  8.60033384  9.59759561  9.27903953
  5.46391035  8.22056584 12.48166085  9.72844695  8.42141088  8.97526235
 11.55456171 12.08005033  9.38408986  9.36673086  9.66804826  9.72009664
  8.40510433 10.8410191   7.28808341  8.52782364  8.23681513  8.15107032
 11.96550202  8.16913034  7.75983775 11.27810713 11.83988255 10.07064115
  9.41942413 11.34337627 12.50357464 10.63096497  8.51565778 10.04392152
  6.86310688 11.38222335 11.32667626 12.12354574 10.45245797  7.79737042
  8.45366281  9.001114   10.3260116  10.31222742  8.52596058 11.20561401
  9.15225658 11.49182547  9.30592294  9.57463876 11.11940844 12.15633721
 12.48806288  8.77614087 10.53164413 11.14754837  8.35013963 10.74937973
 12.30412887 11.54239774 10.10508413 10.05000775  9.63842104 10.22968688
  9.58524953 11.63416263 10.13640324  8.72013747 10.02839681  8.58110116
  7.94403763  9.95291875  8.97196669 10.43961406 10.28048205 12.07367157
 11.69071893 10.2421951   9.70285458  7.92663484  9.22894471 10.63233271
 10.77263513  7.19488235  8.74139106 10.52515709 10.21403859 11.25346848
 11.13410831  8.351047    6.40300169 10.52996987  9.15609356 11.56516674
  9.4720615   8.99759941 10.65409977  9.8533283   7.8104237   9.16156965
 10.15927192  8.08013422 10.02049681 11.77187472  9.20698206 12.24468766
 11.71173748 10.66688393 10.41708766  8.20132125  9.31457523  7.95346262
 10.55686135  8.08325211 12.17034783 13.61338253  8.80847421  7.97637652
  8.34100617  9.61729227  8.08457474  9.71840606 11.37121929  7.1632605
 11.70255733  7.39318396  9.1927636   8.80084086  6.38704684 11.56654901
  9.4829279   9.84825369 10.03245849 13.37020109 11.7397449  11.25824656
 11.21553055  6.30762182 10.64376506 10.95567066 12.31373994 10.80820271
  8.19486994 10.30940905 11.16944186 11.83606143  7.57452338 11.01465481
 10.44222296  9.0323262   8.65461096  9.96965501  9.85082656  7.90516294
  8.78538067  8.71277238  9.03492421 10.7454228   9.04638672 11.63666273
  9.53909909 10.384562   11.85340755 10.37882452 11.23642798  9.46891644
  9.06009313 13.04036841  6.63956679 10.29490978  8.54080193  6.1114668
 10.79746034 10.65205363  8.84281085 11.0976634  11.54762674 10.22979579
  8.94594646 10.64004897  9.92661256 11.78062473 10.53503615  8.71885154
  9.98501961  8.83587704 10.34688303 10.75074298  9.67516125 12.09035313
 14.09256296 10.91358193 11.94745317 10.39218632  9.49419312  8.67162726
 10.1710426  10.09269399  9.49448241 10.62913818 12.31116343 10.03141176
 11.72842705  8.20870398 10.14921811  9.67235374 11.11086051 10.58958041
  9.43036864 10.03377187 11.15005884 10.66478739 10.04140624  9.44474827
 10.10042349 10.9525676   8.08992769 10.88082722  9.83903386 10.50019236
  9.16133975 10.58499057  7.05181303  9.04529058  8.75931671 10.39282878
 10.60545833  9.74658859 11.15236627  9.93109585 10.11414427  9.36381455
 10.46238348 11.72448861 10.13090471  7.86273492  8.60439391 12.93017774
  9.42399943  8.77586036 10.8697331   9.06271784  8.06853502  9.12643621
  8.98420989 10.27395962 10.68079185  9.7637723  11.23995894  8.98852996
  9.38419435 12.43783039  7.12443736 10.41183627 12.22942002  9.68505291
 10.14043752  9.57913403  8.11576964  8.87220562  9.58588379  9.27804763
  9.90496255 11.10279932  9.37513124 10.14371407  6.23774629 10.75435356
  9.88727268 10.41773541 10.38929057 11.17580253 11.7935923  11.94534164
 10.4202441   9.90849195  9.41181098  7.28052898 10.87229481  8.31262252
  7.88426544 11.26342162  9.89672729 12.4931673  12.51118082 10.07727716
 10.08946121 12.35119377  7.49173037 10.97570009  8.77888468  9.98520845
  9.29966397 10.31756415  9.6505239  12.52322943 10.40085879 12.10988849
  8.24307304 12.50690207 13.00580997  8.0899688  11.78993314  9.63267272
 10.46317312 10.22221126  7.83707528 10.52055215  8.42369459 10.06769827
 10.13047356  5.48242876  9.95738639  9.74126618 11.66818496  9.36145179
  9.45752221  9.2373066   8.18743772  8.36032376 12.14640682  9.64836294
 10.13673953  9.10433184  8.87750401  9.00938277 11.14062268  8.3014338
  9.2903383   7.5173593  11.24972183  7.87764518 13.50906749 10.91395236
 10.34365715  6.72048448  9.33986766 12.2945376  11.51276986  7.9173826
 12.47668255 11.64585923  9.72334665 11.32281926  8.66345379 12.09296173
  9.8396811  11.36856421 12.57240824 13.00760727 10.82521175  9.72390028
 10.73455035 10.34715509 13.33714507  9.50612773 11.10767123  9.21879151
  9.82988107  9.06378489 10.5485126  11.80724709  9.73028383 11.19753388
 12.10695086 12.02681878 11.59671352  7.37178794  7.75948544 12.2254701
 11.38266551 11.58536759 13.34003807  9.15096916  9.93278274 10.21030856
  9.19535966  8.47115191 10.33281107 10.0276808   7.22486408 12.06886726
 10.36962964  6.53093291 12.43303762  9.28107147 10.70086707 11.47377099
  9.2640611  10.07088682  9.90331039 10.11102031  9.71459039  7.01316697
  7.39693428 10.49149706  7.51293546  9.70617621 10.00429052  7.74735566
  9.64026524 11.08654382 10.36916134  8.44706988  9.85016587  9.41950045
  9.89184015 10.46345227 10.6771229   9.82375783  9.99794191  9.75371233
 12.28717511  9.06399393 11.17201112 11.04824168  9.43453082  9.00658488
  8.12315607  8.60677582 11.24964786  8.93068881 11.22141194 10.55735339
 10.31167423 12.40950111  9.72311598 11.54170806 10.16208431  9.46140701
  9.94799671 10.9738402   6.71581922 12.13574052  9.58010327  8.25667551
 10.36672253 10.61843916 10.55764134  6.9768051   9.17522705 10.89299895
 10.85816231 10.75885733 11.23856025  9.60521378  7.73390546 10.08744094
 11.8759263  11.18666594  8.2673075  11.19611737 10.05506227  9.37405792
 13.98857604  7.04922701  9.4126674   8.95545577  9.76782931 10.97187031
 10.1101863   9.34901299  9.83340145  7.65704637  8.9055978   8.73733532
 12.07113409 10.63247512  8.23587124 11.14435716 10.26611827 10.28814318
 10.64436849 10.58624012  8.31419495  8.20405743 12.06146742 11.28523116
  8.00518096 10.15695836 11.8630506   9.40154507 10.33544933  9.78679837
 12.16965272  9.66110812 10.49407881  9.34210839  7.7528267   9.27577007
 11.41295601 10.52087828  9.20251508  9.91374355]